<md-card style="max-width: 550px;">
  <md-toolbar ng-if="$root.auth.isLoggedIn()" ng-class="{'md-warn':$ctrl.showConfirm === true, '':$ctrl.showConfirm !== true}" style="min-height: 48px;">
    <div ng-if="$ctrl.showConfirm !== true" class="md-toolbar-tools" style="height: 48px;">
      <md-button ng-if="$root.auth.getUser().uid !== $ctrl.spice.user.uid" ng-click="$ctrl.togglePin($ctrl.spice)" class="md-accent" style="min-width: 1%;">
        <span class="glyphicon glyphicon-heart" aria-hidden="true" title="Pin\Unpin to My Feed"></span>
        <md-icon class="material-icons">{{ ($ctrl.spice.pinnedUsers[$root.auth.getUser().uid] === true) ? 'favorite_border' : 'favorite' }}</md-icon> 
        {{ ($ctrl.spice.pinnedUsers[$root.auth.getUser().uid] === true) ? 'Unpin' : 'Pin' }}
      </md-button>
      <md-button ng-if="$root.auth.getUser().uid === $ctrl.spice.user.uid" class="md-accent" style="min-width: 1%;" ng-click="$ctrl.edit($ctrl.spice, $event)">
        <md-icon class="material-icons">edit</md-icon>
        Edit
      </md-button>
      <md-button ng-if="$root.auth.getUser().uid === $ctrl.spice.user.uid" class="md-accent" style="min-width: 1%;" ng-click="$ctrl.showConfirm = true">
        <md-icon class="material-icons">delete</md-icon>
        Delete
      </md-button>
    </div>
    <div ng-if="$ctrl.showConfirm === true" class="md-toolbar-tools" style="height: 48px;" layout-align="end center">
      <h6 flex><span><md-icon class="material-icons" style="color: white;margin-right:6px;">info</md-icon>Are you sure you want to delete this spice?</span></h6>
      <md-button class="md-primary md-hue-2" ng-click="$ctrl.showConfirm = false" style="margin-right: 0;">
        <md-icon class="material-icons">not_interested</md-icon>
        Cancel
      </md-button>
      <md-button class="md-primary md-hue-2" ng-click="$ctrl.delete($ctrl.spice)">
        <md-icon class="material-icons">delete</md-icon>
        Delete
      </md-button>
    </div>
  </md-toolbar>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{::$ctrl.spice.name}}</span>
    </md-card-title-text>
  </md-card-title>
  <img class="md-card-image" ng-src="{{::$ctrl.spice.imageURL}}">
  <md-card-header>
    <md-card-avatar style="margin-right: 12px;">
      <img class="md-user-avatar" ng-src="{{::$ctrl.spice.user.profileImageURL}}"/>
    </md-card-avatar>
    <md-card-header-text>
      <a class="md-title" href="#" ng-click="$ctrl.filter($ctrl.spice.user.name)" style="color: inherit;text-decoration: none;"><strong>{{::$ctrl.spice.user.name}}</strong></a>
      <span class="md-subhead">{{::$ctrl.spice.timestamp | date:'short'}}</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-content style="padding-top:0;padding-bottom:0;">
    <div flex layout="row" layout-fill>
      <div flex="33">
        <label>Prep (min)</label>
        <h2 md-colors="::{color: 'accent'}" style="font-weight: normal;margin-top: 8px;">{{::($ctrl.spice.prepTime) ? $ctrl.spice.prepTime : '-'}}</h2>
      </div>
      <div flex="33">
        <label>Cook (min)</label>
        <h2 md-colors="::{color: 'accent'}" style="font-weight: normal;margin-top: 8px;">{{::($ctrl.spice.cookTime) ? $ctrl.spice.cookTime : '-'}}</h2>
      </div>
      <div flex="33">
        <label>Servings</label>
        <h2 md-colors="::{color: 'accent'}" style="font-weight: normal;margin-top: 8px;">{{::($ctrl.spice.servings) ? $ctrl.spice.servings : '-'}}</h2>
      </div>
    </div>
  </md-card-content>
  <md-card-content style="padding-top:0;padding-bottom:0;">
    {{::$ctrl.spice.description}}          
  </md-card-content>
  <md-card-content ng-if="::$ctrl.spice.tags">
    <md-button class="md-accent md-raised" ng-repeat="tag in ::$ctrl.spice.tags.split(',')" ng-click="$ctrl.filter(tag)" style="font-size: 12px;min-width: 1%;min-height: 1%;line-height: 28px;">{{ ::tag }}</md-button>
  </md-card-content>
  <md-card-content md-colors="::{'border-top-color': 'accent'}" style="border-top-width:1px;border-top-style: solid;background:#eee;">
    <h3 style="margin-top:0px;">Ingredients</h3>
    <div style="white-space: pre-wrap;">{{::$ctrl.spice.ingredients}}</div>
  </md-card-content>
  <md-card-content md-colors="::{'border-top-color': 'accent'}" style="border-top-width:1px;border-top-style: solid;background:#dedede;">
    <h3 style="margin-top:0px;">Directions</h3>
    <div style="white-space: pre-wrap;">{{::$ctrl.spice.directions}}</div>
  </md-card-content>
</md-card>

<!--
      <div class="row animate-show-flipInX" ng-if="$root.auth.isLoggedIn()">
            <div ng-if="$ctrl.showConfirm !== true" class="col-xs-12 animate-show-flipInX" style="background:#89E894;padding-bottom:10px;padding-top:10px;">
              <button ng-if="$root.auth.getUser().uid !== $ctrl.spice.user.uid" ng-click="$ctrl.togglePin($ctrl.spice)" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-heart" aria-hidden="true" title="Pin\Unpin to My Feed"></span> {{ ($ctrl.spice.pinnedUsers[$root.auth.getUser().uid] === true) ? 'Unpin' : 'Pin' }}</button>
              <button ng-if="$root.auth.getUser().uid === $ctrl.spice.user.uid" ng-click="$ctrl.edit($ctrl.spice)" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit</button>
              <button ng-if="$root.auth.getUser().uid === $ctrl.spice.user.uid" ng-click="$ctrl.showConfirm = true" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
            </div>
            <div ng-if="$ctrl.showConfirm === true" class="col-xs-12 animate-show-flipInX" style="padding: 0;">
              <div class="alert alert-danger clearfix" style="border-radius:0;margin-bottom:0;padding: 9px 15px;">
                <div class="pull-left" style="line-height:30px;">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="font-size: 1.4em;top: 6px;padding-right: 10px;"></span>Are you sure you want to delete this spice?    
                </div>
                <div class="pull-right">
                  <button ng-click="$ctrl.showConfirm = false" class="btn btn-default btn-sm">Cancel</button>
                  <button ng-click="$ctrl.delete($ctrl.spice)" class="btn btn-danger btn-sm">Delete</button>  
                </div>
              </div>
            </div>
          </div>
      <div class="row">
        <div class="col-sm-6" style="background:white;">
          <h2>{{::$ctrl.spice.name}}</h2>
          <div class="clearfix" style="padding-bottom: 10px;">
            <img ng-src="{{::$ctrl.spice.user.profileImageURL}}" class="pull-left" style="margin-right:10px;border-radius: 50%;width:32px;">
            <div class="pull-left">
              <a href="#" ng-click="$root.search = $ctrl.spice.user.name"><strong>{{::$ctrl.spice.user.name}}</strong></a>
              <div><small>{{::$ctrl.spice.timestamp | date:'short'}}</small></div>
            </div>
          </div>
          <div class="row" style="padding-bottom: 10px;">
            <div class="col-xs-4">
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Prep (min)
              <div style="color: #26B937;font-size: 24px;">{{::($ctrl.spice.prepTime) ? $ctrl.spice.prepTime : '-'}}</div>
            </div>
            <div class="col-xs-4">
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Cook (min)
              <div style="color:#26B937; font-size: 24px;">{{::($ctrl.spice.cookTime) ? $ctrl.spice.cookTime : '-'}}</div>
            </div>
            <div class="col-xs-4">
              <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Servings
              <div style="color:#26B937; font-size: 24px;">{{::($ctrl.spice.servings) ? $ctrl.spice.servings : '-'}}</div>
            </div>
          </div>
          <div style="padding-bottom: 10px;">{{::$ctrl.spice.description}}</div>
          <div ng-if="::$ctrl.spice.tags" style="padding-bottom: 10px;">
            <button class="btn btn-warning btn-xs" ng-repeat="tag in ::$ctrl.spice.tags.split(',')" ng-click="$root.search = tag" style="margin-right:4px;">{{ ::tag }}</button>
          </div>
        </div>
        <div class="col-sm-6" style="padding:0">
          <img style="width:100%;" ng-src="{{::$ctrl.spice.imageURL}}">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" style="background: #ddd;padding: 15px;">
          <h3 style="border-bottom: 1px solid #ccc;padding-bottom: 10px;margin-top:0px;">Ingredients</h3>
          <div style="white-space: pre-wrap;">{{::$ctrl.spice.ingredients}}</div>
        </div>
        <div class="col-sm-6" style="background: #eee;padding: 15px;">
          <h3 style="border-bottom: 1px solid #ccc;padding-bottom: 10px;margin-top:0px;">Directions</h3>
          <div style="white-space: pre-wrap;">{{::$ctrl.spice.directions}}</div>
        </div>
      </div>
    -->
