<button ng-if="!$ctrl.isLoggedIn()" class="btn btn-success"" ng-click="$ctrl.login()"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Login</button>

<ul ng-if="$ctrl.isLoggedIn()" class="userDropdown">
  <li>
    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img ng-src="{{$ctrl.authData.google.profileImageURL}}"><span class="hidden-xs">{{ $ctrl.authData.google.displayName }}&nbsp;&nbsp;</span><span style="color:#89E894;" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#" ng-click="$ctrl.logout()">Logout</a></li>
    </ul>
  </li>
</ul>
