body {
  background-color:#777;
}

.app-alert {
    padding:40px 20px;
    color: #222222;
    background-color: white;
    border-left: 8px solid transparent;    
}

.app-alert-warning {
    border-color:#EFD362
}

.app-alert-success {
    border-color: #4BC74D;
}

.app-alert .glyphicon { 
    font-size: 1.5em;
    top: 6px;
    padding-right: 10px;
}

.app-alert-warning .glyphicon {
    color: #EFD362;
}

.app-alert-success .glyphicon {
    color: #4BC74D;
}

/* ngMaterial overrides */
md-input-container {
    margin: 8px 0;
}

.md-button {
    text-transform: initial;
}

.toolbar-input .md-errors-spacer {
    display: none;
}

/* Animations */
.animate-hide-flipOutX.ng-leave { animation:1s flipOutX ease; }
.animate-show-flipInX.ng-enter { animation:1s flipInX ease; }
.ng-hide-add { animation:0.5s lightSpeedOut ease; }
.ng-hide-remove { animation:0.5s flipInX ease; }

/*Bootstrap overrides*/


/* media queries */
@media (min-width: 768px) {  
    body {
        
    }    
    
    .app-alert {        
        margin:10px auto;
        max-width:1000px;
    }
    
    /* Animations */
    .animate-hide-flipOutX.ng-leave { animation:0.5s flipOutX ease; }
    .animate-show-flipInX.ng-enter { animation:0.5s flipInX ease; }

    .navbar-brand {
        padding-left: 15px;
    }
}
